.mat-card-title {
    margin: 33px 0px 26px;
}

.mat-card {
    padding: 45px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}


.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.button {
    padding: 5px;
    font-size: 18px;
}